#BackgroundSummer {
   background: linear-gradient(0.25turn,#F4A636,#FDD3F3);
   height:300vh;
}

.image-grid {
   display: grid;
   grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Adjust the minmax values as needed */
   grid-gap: 60px;
 }
 
 .background-image {
   width: 100%; /* Make the images fill their grid cell */
   height: auto;
 }